body {
  padding: 0 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#notice {
	background-color: #CCC;
	margin: 0.5em;
	padding: 0.5em;
}
#notice .notice-date {
	color: #FF0000;
	font-weight: bold;
}

.error-highlight {
	background-color: #FFFDEB;
	color: #FF0000;
	font-weight: bold;
}